header
	// background: $dark-blue
	position: relative
	z-index: 2
	padding: 0px 80px
	.grid
		justify-content: space-between
	.logo
		display: flex
		justify-content: flex-start
		align-items: center
		img
			height: 30px
			width: auto
	.main-nav
		.nav-list
			list-style: none
			padding: 0
			marging: 0
			display: flex
			justify-content: center
			// flex: 1
			align-items: center
			li
				display: inline-block
				flex: 1
				a
					text-decoration: none
					color: $text-inverse
	

